@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";
body {
  background-image: url('/home-transparent.png');
  background-repeat: repeat;
  background-size: auto; /* ou cover / contain */
  background-color: white; /* fundo branco */
}
